{% extends "base.html" %} {% set active_page = "create_recipe" %} {% block body %}
<div class="container center-align">
    <div class="row">
        <h3>Create A Recipe</h3>
        <p>Fill in the form below to create a recipe and press the save button at the end.</p>
    </div>
    <div class="row">
        <form class="col s12" method=POST action="{{ url_for('create_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="inputRecipeName" name="recipename">
                    <label for="inputRecipeName">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="inputDescription" name="recipedesc">
                    <label for="inputDescription">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="cat_select">
                            <option value="" disabled selected>Choose Recipe Category</option>
                            {% for cat in categories %}
                            <option value="{{cat.fancy_name}}">{{cat.fancy_name}}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s11" id="ingredients_list">
                    <label for="inputIngredients">Ingredient</label>
                    <input type="text" id="inputIngredients" name="ingredient1" placeholder="125g plain flour">
                </div>
                <div class="col s1">
                    <button type="button" class="waves-effect waves-red btn red darken-4" id="addIngButton" onclick="addIngredientFunction(); hideIngButtonFunction() "><i class="material-icons">add</i></button>
                    <button type="button" class="waves-effect waves-red btn red darken-4" id="removeIngButton" onclick="removeLastIngredient(); hideIngButtonFunction() "><i class="material-icons">remove</i></button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s11" id="instructions_list">
                    <label for="inputInstructions">Instructions</label>
                    <textarea id="inputInstructions" rows="2" name="instruction1" class="materialize-textarea" placeholder="Pour flour in a bowl with 2 eggs"></textarea>
                </div>
                <div class="col s1">
                    <button type="button" class="waves-effect waves-red btn red darken-4" id="addInsButton" onclick="addIstructionFunction(); hideInsButtonFunction() "><i class="material-icons">add</i></button>
                    <button type="button" class="waves-effect waves-red btn red darken-4" id="removeInsButton" onclick="removeLastInstruction(); hideInsButtonFunction() "><i class="material-icons">remove</i></button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" id="inputPrepTime" name="prep_time">
                    <label for="inputPrepTime">Prep Time (In Minutes)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="number" id="inputCookTime" name="cook_time">
                    <label for="inputCookTime">Cook Time (In Minutes)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="inputImgUrl" name="img_url">
                    <label for="inputImgUrl">Image Url</label>
                    <span class="helper-text">http://example.com/image.jpg</span>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="submit" class="btn btn-primary btn-block red darken-4">Save Recipe</button>
                </div>
                <div class="col s6">
                    <a href="{{ url_for('index') }}" class="waves-effect waves-red btn red darken-4 right">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
