{% extends "base.html" %}
{% block body %}
<div class="container">
    
    <div class="row center-align">
        {% if session['username'] %}
        <div class="col s12">
            <h3>Welcome To Recipes, {{ session['username'] }}!</h3>
        </div>
        <div class="col s12">
            <p>Choose from a category below or click on the Recipes link above to see a full list of recipes.</p>
        </div>
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='biscuits-and-cookies') }}">
                    <div class="card-image">
                        <img src="static/img/cat/biscuits-cookies.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p class="truncate">Biscuits And Cookies</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='bread') }}">
                    <div class="card-image">
                        <img src="static/img/cat/bread.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Bread</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='breakfast') }}">
                    <div class="card-image">
                        <img src="static/img/cat/breakfast.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Breakfast</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='cake') }}">
                    <div class="card-image">
                        <img src="static/img/cat/cake.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Cake</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='dessert') }}">
                    <div class="card-image">
                        <img src="static/img/cat/dessert.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Dessert</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='drinks') }}">
                    <div class="card-image">
                        <img src="static/img/cat/drinks.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Drinks</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='main-course') }}">
                    <div class="card-image">
                        <img src="static/img/cat/main-course.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Main Course</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='pancakes') }}">
                    <div class="card-image">
                        <img src="static/img/cat/pancakes.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Pancakes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='pies-and-tarts') }}">
                    <div class="card-image">
                        <img src="static/img/cat/pie-tart.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p class="truncate">Pies And Tarts</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='preserves') }}">
                    <div class="card-image">
                        <img src="static/img/cat/preserves.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Preserves</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='salads') }}">
                    <div class="card-image">
                        <img src="static/img/cat/salad.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Salads</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='sandwiches') }}">
                    <div class="card-image">
                        <img src="static/img/cat/sandwiches.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Sandwiches</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='side-dishes') }}">
                    <div class="card-image">
                        <img src="static/img/cat/side-dishes.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Side Dishes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='soups') }}">
                    <div class="card-image">
                        <img src="static/img/cat/soup.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Soup</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='starters') }}">
                    <div class="card-image">
                        <img src="static/img/cat/starters.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Starters</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col s3">
            <div class="card hoverable">
                <a href="{{ url_for('category', category='sweets') }}">
                    <div class="card-image">
                        <img src="static/img/cat/sweets.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content center-align cat-name">
                            <p>Sweets</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}