{% extends "base.html" %}
{% block body %}
<div class="container center-align">
    <div class="row">
        <p><strong>Please log in to continue</strong></p>

        <form class="col s12" method=POST action="{{ url_for('login') }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="username" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="pass" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>

        <p>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</p>
    </div>
</div>
{% endblock %}
