{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.img_url }}" class="img-responsive">
                </div>
                <div class="card-content">
                    <div class="row">
                        <h4 class="recipe-name">{{ recipe.name }}</h4>
                        <p><span class="bold">Prep Time:</span> {{ recipe.prep_time }} min | <span class="bold">Cook Time:</span> {{ recipe.cook_time }} min</p>
                    </div>
                    <div class="row">
                    <p>{{ recipe.desc }}</p>
                    </div>
                    <div class="row">
                        <ul class="collection with-header">
                            <li class="collection-header">Ingredients</li>
                            {% for key, value in ingredients_list.items() %}
                            <li class="collection-item">{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row">
                        <h5 class="ins-heading">Instructions</h5>
                        <table>
                            <tbody class="ins_list">
                                {% for key, value in instructions_list %}
                                <tr>
                                    <td class="ins-number">{{ key }}.</td>
                                    <td>{{ value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col s6">
                            <p class="left"><span class="bold">Category:</span> {{ recipe.category }}</p>
                        </div>
                        {% if session['username'] == recipe.author %}
                        <a href="{{ url_for('edit', recipe_id=recipe._id) }}" class="waves-effect waves-light green btn right">Edit</a>
                        {% endif %}
                        <div class="col s6">
                            <p class="right"><span class="bold">Author:</span> {{ recipe.author }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}