{% extends "base.html" %}
{% set active_page = "user" %}
{% block body %}
<div class="container">
    <div class="row center-align">
        <div class="col s12">
        <h3>User Details</h3>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s12">
            <p><span class="bold">Username:</span> {{ username }}</p>
            <p><span class="bold">First Name:</span> {{ user.first_name }}</p>
            <p><span class="bold">Last Name:</span> {{ user.last_name }}</p>
            <p><span class="bold">Email:</span> {{ user.email }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <h3>Recipes Created:</h3>
        <ul id="easyPaginate">
            {% for recipe in recipes %}
            <li>
                <div class="row valign-wrapper">
                    <div class="col s8">
                        <p class="user-recipe">{{ recipe.name }}</p>
                    </div>
                    <div class="col s2 offset-s4 user-btn right">
                        <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light red darken-4 btn">View</a>
                    </div>
                    <div class="col s2 user-btn">
                        <a href="{{ url_for('delete', recipe_id=recipe._id) }}" class="red btn hvr-buzz right">Delete</a>
                    </div>
                </div>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
